{% load static %}
<header class="header header--loggedIn">
    <div class="container">
        <a href="{% url 'home' %}" class="header__logo">
            <img src="{% static 'img/logo.svg' %}" />
            <h1>CampusConnect</h1>
        </a>
        
        <nav class="header__menu">


    <!
        
            <a >
                <img src="{% static 'img/avatar.svg' %}" />
                <p>Login</p>
            </a>
                 Logout</a>
            </div>
        </nav>
    </div>
</header>
